# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
service-ca-operator
/service-ca-operator-tests-ext

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.idea
_output
